body{
    margin:0;
    padding:0;
}





button{
    display:block;
    width:800px;
    height:500px;
    margin:0px auto;
    padding:20px;

}


button, a{
    text-decoration:none;
    font-family:'Roboto';
    -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: black;
    font-size:50px;
}



#btn1{
    
    color:white;
    background:url('dishes_img/french_onion.jpg');
    
    background-position:center;
    opacity:0.6;
    background-size:cover;
    
   
}

#btn2{
    
    color:white;
    background:url('dishes_img/lasagna.jpg');
    background-position:center;
    opacity:0.6;
    background-size:cover;
}



#btn3{
    
    color:white;
    background:url('dishes_img/Chicken-Mushroom-Risotto_2-680x486.jpg');
    background-position:center;
    opacity:0.6;
    background-size:cover;
    
   
}

#btn4{
    
    color:white;
    background:url('dishes_img/pasta_carbonara.jpg');
    background-position:center;
    opacity:0.6;
    background-size:cover;
   
}

#btn5{
    
    color:white;
    background:url('dishes_img/pizza.jpg');
    background-position:center;
    opacity:0.6;
    background-size:cover;
    
   
}

#btn6{
    
    color:white;
    background:url('dishes_img/roast-beef.jpg');
    background-position:center;
    background-size:500px;
    opacity:0.6;
    background-size:cover;
    
   
}

#btn7{
    
    color:white;
    background:url('dishes_img/fish_fillets.jpg');
    background-position:center;
    background-size:500px;
    opacity:0.6;
    background-size:cover;
    
   
}

#btn8{
    
    color:white;
    background:url('dishes_img/southern-fried-chicken.jpg');
    background-position:center;
    background-size:500px;
    opacity:0.6;
    background-size:cover;
   
}